*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.body{
    overflow: hidden;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    height: 100vh;
}

.login{
    background: url(../img/fondo_login.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-form,.box-verificaciones{
    width: 100%;
    background-color: rgba(0, 0,0, .5);
    padding: 40px;
    border: 2px solid white;
    border-radius: 20px;
    display: grid;
}

.form{
    width: 100%;
    display: grid;
    gap: 40px;
}
.form-group,.form-buttons, .form-messages{
    width: 100%;
    display: grid;
    gap: 10px;
}

.form-group__label{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: maroon;
    letter-spacing: 2px;
}

.form-group__input, .form-group__selectpINS{
    height: 45px;
    border: none;
    outline: none;
    border: 1px solid white;
    opacity: .5;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 12px;
}

.form-group__select:focus{
    font-size: 18px;
}

.form-group__select option{
    font-size: 14px;
}   
.form-group__input:focus, .form-group__select:focus{
    border-color: maroon;
    border-width: 10px;
}


.btn{
    height: 60px;
    border: none;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
}

.btn-primary{
    background-color: black;
    border: 2px solid black;
    border-radius: 12px;
    color: white;
    font-weight: bolder;
}

.btn-primary:hover{
    background-color: transparent;
    color: black;
}

.message{
    width: 100%;
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(2,5% 95%);
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.message ion-icon{
    font-size: 25px;
    margin-right: 10px;
}
    
.message span{
    font-size: 15px;
    font-weight: 500;
}

.message span a {
    text-decoration: none;
    color: maroon;
    font-weight: bolder;
}

.message span a:hover{
    text-decoration: underline;
}
.form-credits{
    display: grid;
    gap: 10px;
    justify-items: center;
}

.form-credits p{
    font-size: 18px;
    font-weight: bold;
}

.socials ion-icon:first-child{
    font-size: 25px;
    color: #4267B2;
}

.socials ion-icon:nth-child(2){
    font-size: 25px;
    color: #F56040;
}

.socials ion-icon:nth-child(3){
    color: #0A66C2;
    font-size: 25px;
}

.contact-us ion-icon:first-child{
    font-size: 25px;
    color: 	#f2a60c;
}

.contact-us ion-icon:nth-child(2){
    font-size: 25px;
    color: #128C7E;
}

.developer{
    font-weight: lighter!important;
    font-size: 15px!important;
}

.field-required{
    color: rgb(197, 62, 62);
    font-size: 14px;
}
.hide{
    color: transparent;
}



/* Register page style */

.register{
    background: url(../img/fondo_register.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.group-double{
    grid-template-columns: repeat(2,1fr);
}

.form-links{
    display: flex;
    justify-content: flex-end;
}

.form-links .link{
    color: maroon;
    font-size: 15px;
    font-weight: bold;
}

.form-links .link:hover{
    color: rgb(155, 22, 0);
}
.box-verificaciones{
    align-content: flex-start;
}

.box-verificaciones h3{
    text-align: center;
    font-size: 25px;
    color: maroon;
    margin-bottom: 40px;
}

.verificacion{
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
}
.icono{
    margin-right: 10px;
}

.color-error{
    color: rgb(197, 62, 62);
}

.color-valid{
    color: green;
}

.display-none{
    display: none!important;
}

.display-flex{
    display: flex;
}